html , button , input , select , textarea {
  color: #444;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

body{
	  background-color: #AAA;
}
#wrapper {
  max-width: 900px;
  min-width: 320px;
  margin: auto;
}

header{
  border-radius: 3px;
  color: #ccc ;
  background-color: white;
  box-shadow: 0  2px 4px rgba(0, 0, 0, .2);
}

img {
  float: right;

}
